*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
/Sistema Dermato/build/
/Sistemas/Sistema Dermato/build/
/Sistemas/Sistema Dermato/dist/
/Sistemas/Sistema Dermato/nbproject/private/
/Sistemas/DBConverter/nbproject/private/
/Sistemas/DBConverter/build/
/Sistemas/DBConverter/dist/
/Sistemas/DermatoCommons/nbproject/private/
/Sistemas/DermatoCommons/build/
/Sistemas/DermatoCommons/dist/
/Sistemas/DermatoCommon/nbproject/private/
/Sistemas/DermatoCommon/dist/
/Sistemas/DermatoCommon/build/